gadget.d
docs/
doc/
db/
.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
log*/
config/app.config
.erlang.mk*
_rel/
relx
Mnesia*
elvis
_build/
rebar.lock
ssh/
compile_commands.json
gadget_internal_*_plt
