[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src/*", "test/*"],
        filter => "*.erl",
        rules => [{elvis_style, invalid_dynamic_call, #{ignore => [gadget_plain_dtl_handler]}},
                  {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}],
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "Makefile",
        ruleset => makefiles
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["."],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
