%% == Erlang Compiler ==

{erl_opts, [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info,
  {parse_transform, lager_transform},
  {lager_truncation_size, 131072}
]}.

%% == Dependencies ==

{deps, [
  {jiffy, "0.14.7"},
  {eper, {git, "https://github.com/massemanet/eper.git", {tag, "0.96.4"}}},
  {egithub, "0.3.0"},
  {elvis, {git, "https://github.com/inaka/elvis.git", {tag, "0.2.11"}}},
  {cowboy, "1.0.4"},
  {lager, "3.2.1"},
  {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git", {tag, "0.11.1"}}},
  {hackney, "1.6.1"},
  {xref_runner, {git, "https://github.com/inaka/xref_runner.git", {tag, "0.2.6"}}},
  {sumo_db, {git, "https://github.com/inaka/sumo_db.git", {tag, "0.5.0-OTP19"}}},
  {epocxy, "1.1.0"},
  {katana, {git, "https://github.com/inaka/erlang-katana.git", {tag, "0.2.23"}}}
]}.

%% == Profiles ==

{profiles, [
  {test, [
    {deps, [
      {katana_test, "0.1.1"},
      {meck, "0.8.4"},
      {mixer, {git, "https://github.com/inaka/mixer.git", {tag, "0.1.5"}}}
    ]}
  ]},
  {shell, [
    {deps, [
      {sync, {git, "https://github.com/rustyio/sync.git", {ref, "9c78e7b"}}}
    ]}
  ]}
]}.

%% == Common Test ==

{ct_compile_opts, [
  warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info,
  {parse_transform, lager_transform}
]}.

{ct_opts, [
  {sys_config, "./config/app.config"},
  {logdir, "./logs"},
  {verbose, true}
]}.

%% == Cover ==

{cover_enabled, true}.

{cover_opts, [verbose]}.

%% == Dialyzer ==

{dialyzer, [
  {plt_apps, top_level_deps},
  {plt_extra_apps, []},
  {plt_location, local},
  {plt_prefix, "gadget"},
  {base_plt_location, "."},
  {base_plt_prefix, "gadget"}
]}.

%% == Overrides ==

{overrides, [
  {override, jiffy, [
    {plugins, [pc]},
    {artifacts, ["priv/jiffy.so"]},
    {provider_hooks, [
      {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
      ]}
    ]}
  ]}
]}.

%% == Provider Hooks ==

{provider_hooks, [
  {pre, [
    {compile, clean}]},
  {post, [
    {compile, {erlydtl, compile}}
  ]}
]}.

%% == Plugins ==

{plugins, [
  {rebar3_erlydtl_plugin,
   {git,
    "https://github.com/tsloughter/rebar3_erlydtl_plugin.git",
    {branch, "master"}}}
]}.

%% == ErlyDTL ==

{erlydtl_opts, [
  {doc_root, "templates"},
  {compiler_options, [debug_info,
                      {parse_transform, lager_transform},
                      return_errors]}
]}.
