{release, {gadget, "0.1.1"},
  [ gadget
  , {ic, none}
  , {common_test, none}
  , {cosEvent, none}
  , {cosEventDomain, none}
  , {cosFileTransfer, none}
  , {cosNotification, none}
  , {cosProperty, none}
  , {cosTime, none}
  , {cosTransactions, none}
  , {debugger, none}
  , {diameter, none}
  , {edoc, none}
  , {eldap, none}
  , {erl_docgen, none}
  , {et, none}
  , {eunit, none}
  , {inets, none}
  , {jinterface, none}
  , {megaco, none}
  , {observer, none}
  , {odbc, none}
  , {orber, none}
  , {os_mon, none}
  , {ose, none}
  , {otp_mibs, none}
  , {percept, none}
  , {reltool, none}
  , {runtime_tools, none}
  , {snmp, none}
  , {ssh, none}
  , {test_server, none}
  , {typer, none}
  , {webtool, none}
  , {xmerl, none}
  ]}.

{sys_config, "./config/app.config.template"}.

{overlay, [ {copy, "assets", "assets"}
          , {copy, "deps/rebar/rebar", "bin/rebar"}
          , {copy, "priv/start.boot", "bin/start.boot"}
          ]}.

{extended_start_script, true}.
